@use './abstracts' as *;

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  color: $black;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  color: $black;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: all $delay-sm ease-in-out;
}

a:hover {
  color: $black;
}

a:active {
  opacity: 0.75;
}

.container {
  display: flex;
  padding: 0 16px;

  @include breakpoint(medium) {
    padding: 0 24px;
  }

  @include breakpoint(large) {
    padding: 0 48px;
  }

  @include breakpoint(xlarge) {
    padding: 0 72px;
  }

  @include breakpoint(xxlarge) {
    padding: 0 96px;
  }
}

.parallax {
  position: relative;
  /* The image used */
  background-image: url('../assets/images/background.png');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
