@use './abstracts' as *;

////// WordPress Components //////

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;

  @include breakpoint(small) {
    gap: 16px;
  }

  @include breakpoint(medium) {
    gap: 24px;
  }

  .menu-item {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    a {
      position: relative;
      padding: 8px 4px;
      font-weight: 600;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transition: 250ms ease-in-out;
      }

      &:hover::after {
        width: 100%;
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.entry-header {
  background: $white;
  padding: 40px 0;
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include breakpoint(medium) {
    padding: 56px 0;
  }

  h1,
  h2 {
    font-size: $page-title;
  }
}

.error-404 {
  min-height: 100vh;

  .container {
    flex-direction: column;
  }

  .page-header,
  .page-content {
    padding: 32px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
      padding: 64px 0;
    }
  }

  h1 {
    font-size: $step-4;
  }

  p {
    font-size: $step-1;
  }
}

//////// Buttons ////////

.btn {
  padding: 8px 16px;
  border-radius: $rounded;
  font-size: $step-1;
  font-weight: 600;
  transition: all $delay-sm ease-in-out;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }
}

%btn-outline {
  background: transparent;
  color: $black;
  border: 4px solid $black;

  &:hover {
    background: $black;
  }
}

.btn-outline-primary {
  @extend %btn-outline;

  &:hover {
    color: $primary-1;
  }
}

.btn-outline-white {
  @extend %btn-outline;

  &:hover {
    color: $white;
  }
}

//////// Cards ////////

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @include breakpoint(medium) {
    gap: 64px;
  }

  .project-card {
    position: relative;
    width: 100%;
    max-width: 704px;
    border-radius: $rounded;
    flex: 1 1 544px;
    display: flex;
    box-shadow: $shadow-md;
    overflow: hidden;

    @include breakpoint(large) {
      transition-delay: $staggered;
    }

    &:hover .project-overlay {
      opacity: 0.2;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .project-overlay {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: $rounded;
    opacity: 0;
    transition: opacity $delay-sm ease-in-out;
  }

  .project-name {
    background: $primary-gradient;
    position: absolute;
    right: 0px;
    bottom: 24px;
    padding: 8px 16px;
    border-radius: $rounded 0px 0px $rounded;
    display: flex;

    @include breakpoint(small) {
      bottom: 32px;
      padding: 16px 32px;
    }

    a:hover {
      text-decoration: underline;
    }

    h3 {
      font-size: $step-3;
    }
  }
}

.developer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @include breakpoint(medium) {
    gap: 24px;
  }

  .developer-card {
    background: $primary-gradient;
    min-height: 360px;
    padding: 8px;
    position: relative;
    border-radius: $rounded;
    flex: 0 1 264px;
    display: flex;
    box-shadow: $shadow-sm;
    overflow: hidden;

    @include breakpoint(large) {
      transition-delay: $staggered;
    }

    &:hover {
      .developer-overlay {
        opacity: 0.2;
      }
      .developer-name {
        transform: translateY(0);
      }
    }

    .developer-overlay {
      background: #000000;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $rounded;
      opacity: 0;
      transition: opacity $delay-sm ease-in-out;
    }

    .developer-name {
      background: $primary-gradient;
      padding: 8px 16px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0 0 $rounded $rounded;
      display: flex;
      justify-content: center;
      transform: translateY(100%);
      transition: transform $delay-sm ease-in-out;

      a:hover {
        text-decoration: underline;
      }

      p {
        font-size: $step-2;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }

      @media all and (max-width: 899px) {
        transform: translateY(0);
      }
    }

    img {
      background: $neutral-50;
      border-radius: $rounded;
      object-fit: cover;
    }
  }
}

.diplomas-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  .card {
    background: $primary-gradient;
    max-width: 464px;
    padding: 16px;
    border-radius: $rounded;
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    box-shadow: $shadow-sm;

    @include breakpoint(small) {
      transition-delay: $staggered;
    }

    h3 {
      font-size: $step-2;
    }

    p {
      font-size: $step-1;
    }

    a {
      line-height: 1.1;
    }
  }
}

//////// Layout ////////

.text-column {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  max-width: 648px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  h2 {
    font-size: $step-6;
  }

  p {
    font-size: $step-1;
  }
}

.image-column {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//////// Animations ////////

%transition-all {
  @media (prefers-reduced-motion: no-preference) {
    transition: transform 1.3s, opacity 1.3s;
  }
}

.hide {
  opacity: 0;

  &-bottom {
    @extend %transition-all;
    transform: translateY(30%);
    transition-delay: 400ms;
  }

  &-left {
    @extend %transition-all;
    transform: translateX(-30%);
    transition-delay: 400ms;
  }

  &-right {
    @extend %transition-all;
    transform: translateX(30%);
    transition-delay: 400ms;
  }

  &-static {
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 1.3s;
      transition-delay: 200ms;
    }
  }
}

.show {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}
