@use '../abstracts' as *;

%footer-circle {
  position: absolute;
  width: 12%;

  @include breakpoint(small) {
    width: 9%;
  }

  @include breakpoint(large) {
    width: 6%;
  }

  @include breakpoint(xlarge) {
    width: 4%;
  }
}

.site-footer {
  position: relative;
  background: $grey;
  color: $white;
  padding: 24px 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(small) {
    padding: 48px;
  }

  .circle-1 {
    @extend %footer-circle;
    bottom: 0;
    left: 8%;
  }
  .circle-2 {
    @extend %footer-circle;
    bottom: 0;
    left: 75%;
  }
  .circle-3 {
    @extend %footer-circle;
    top: 0;
    left: 87%;
  }

  .footer-navigation {
    padding: 32px;
    border-bottom: 1px solid $white;
  }

  .menu {
    flex-direction: column;
    align-items: center;

    @include breakpoint(small) {
      flex-direction: row;
    }
  }

  .menu-item a {
    color: $primary-2;
    font-size: $step-2;

    &::after {
      background: $white;
    }
  }

  .widget_block {
    margin: 0;
    padding: 48px 0 0;

    ul {
      margin: 0;
    }
  }

  .site-info {
    padding-top: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
