@use '../abstracts' as *;

.about {
  .about-header {
    position: relative;

    .lines-top {
      top: 7%;
      width: 40%;
    }

    .lines-bottom {
      bottom: 2%;
      width: 45%;
    }
  }

  .about-content {
    padding: 64px 0;

    @include breakpoint(medium) {
      padding: 96px 0;
    }

    .container {
      gap: 48px;
      flex-wrap: wrap;
    }

    .image-column {
      img {
        border-radius: $rounded;
        box-shadow: $shadow-md;
      }
    }
  }

  .diplomas-content {
    padding-bottom: 32px;

    @include breakpoint(medium) {
      padding-bottom: 80px;
    }

    .container {
      flex-direction: column;
    }

    .heading {
      padding: 24px 0;
      display: flex;
      justify-content: center;

      @include breakpoint(medium) {
        padding: 64px 0;
      }

      h2 {
        font-size: $step-6;
      }
    }
  }
}
