@use '../abstracts' as *;

.developers {
  .developers-header {
    position: relative;

    .lines-top {
      top: 5%;
      width: 26%;
    }

    .lines-bottom {
      bottom: 0;
      width: 30%;
    }
  }

  .developers-content {
    padding: 32px 0;
  }

  .developers-filter {
    width: 100%;
    padding: 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;

    label {
      font-size: $step-1;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }

    input[type='checkbox'] {
      margin-top: 3px;
      appearance: none;
      font: inherit;
      width: 20px;
      height: 20px;
      border: 2px solid $black;
      border-radius: 3px;
      transform: translateY(-0.075em);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    input[type='checkbox']::before {
      content: '';
      width: 12px;
      height: 12px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 16px 16px $primary-2;
    }

    input[type='checkbox']:checked::before {
      transform: scale(1);
    }

    button {
      padding: 6px 12px;
      text-transform: uppercase;
    }
  }
}
