@use '../abstracts' as *;

.main-hero {
  background: $primary-gradient;
  position: relative;
  width: 100%;
  min-height: 100vh;
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hero-text {
    z-index: 2;

    .lines-top {
      top: 5%;
      width: 22%;
      @media screen and (prefers-reduced-motion: no-preference) {
        transition-delay: 800ms;
      }
    }

    .lines-bottom {
      bottom: 4%;
      width: 25%;
      @media screen and (prefers-reduced-motion: no-preference) {
        transition-delay: 800ms;
      }
    }

    p {
      position: absolute;
      font-family: 'Poppins';
      line-height: 1;
      @media screen and (prefers-reduced-motion: no-preference) {
        transition-delay: 600ms;
      }
    }

    .title-overline {
      top: 6%;
      left: 0;
      font-size: $overline;
      @media screen and (prefers-reduced-motion: no-preference) {
        font-weight: 500;
      }
    }

    h1 {
      font-size: $step-9;
    }

    .title-year {
      bottom: 0;
      right: 0;
      font-size: $subtitle;
      font-weight: 700;
    }
  }

  .cta {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 50%);
    z-index: 2;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      @media screen and (prefers-reduced-motion: no-preference) {
        transition-delay: 1s;
      }
    }

    @include breakpoint(medium) {
      top: 70%;
    }

    a {
      transition: transform 1.3s, opacity 1.3s, background-color 200ms ease-in-out, color 200ms ease-in-out;
    }

    .down-arrow {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: slide 2s ease-in-out infinite;
      }
    }

    @keyframes slide {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(30%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}

.projects-header {
  position: relative;

  .lines-top {
    top: 7%;
    width: 28%;
  }

  .lines-bottom {
    bottom: 2%;
    width: 32%;
  }
}

.projects-content {
  padding: 64px 0;
  overflow: hidden;

  @include breakpoint(large) {
    padding: 112px 0;
  }
}
