@use '../abstracts' as *;

.project-info {
  .project-header {
    position: relative;

    .lines-top {
      top: 5%;
      width: 19%;
      min-width: 88px;
    }

    .lines-bottom {
      bottom: 0;
      width: 20%;
      min-width: 88px;
    }
  }

  .project-content {
    padding: 64px 0;

    @include breakpoint(medium) {
      padding: 96px 0;
    }

    .container {
      gap: 48px;
      flex-wrap: wrap;
    }

    .text-column {
      .prototype-image {
        img {
          border-radius: $rounded;
          box-shadow: $shadow-md;
        }
      }

      .prototype-link:hover {
        opacity: 0.8;
      }

      .wp-element-caption {
        text-align: center;
        font-weight: 600;

        a:hover {
          text-decoration: underline;
        }
      }

      .site-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        a {
          line-height: 1.1;
        }

        .btn-filled {
          background: $black;
          color: $white;
          border: 4px solid $black;

          &:hover {
            opacity: 0.8;
            color: $white;
          }
        }
      }

      // Reset WP class margin
      .wp-block-columns {
        margin: 0;
      }
    }

    .image-column {
      .wp-post-image,
      .placeholder-image {
        border-radius: $rounded;
        box-shadow: $shadow-md;
        width: 100%;
      }
    }
  }

  .team-content {
    .container {
      flex-direction: column;
    }

    .heading {
      display: flex;
      justify-content: center;
      padding: 24px 0;

      @include breakpoint(medium) {
        padding: 24px 0 64px;
      }

      h2 {
        font-size: $step-6;
      }
    }
  }

  .post-navigation {
    width: 100%;
    margin: 0;
    padding: 48px 0;

    @include breakpoint(medium) {
      padding: 80px 0;
    }

    .nav-links {
      padding: 32px 16px;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      justify-content: space-evenly;

      @include breakpoint(medium) {
        padding: 24px;
      }

      .nav-previous {
        margin-right: 16px;
        display: flex;
        justify-content: flex-start;
      }

      .nav-next {
        display: flex;
        justify-content: flex-end;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }

        img {
          position: absolute;
          transform: translateX(0);
          transition: transform $delay-sm ease-out;
        }

        .left {
          padding-left: 44px;
        }

        .right {
          padding-right: 44px;
        }

        .right-arrow {
          right: 0;
        }

        &:hover .left-arrow {
          transform: translateX(-25%);
        }

        &:hover .right-arrow {
          transform: translateX(25%);
        }
      }

      span {
        display: block;
      }

      .nav-subtitle {
        font-size: $step-1;
      }

      .nav-title {
        font-size: $step-2;
        font-weight: 600;
      }
    }
  }
}
