// Colors:

// Main
$primary-1: hsl(48, 99%, 55%);
$primary-2: hsl(42, 100%, 50%);
$secondary-1: #31a1c9;
$secondary-2: #2dd2c5;
$secondary-3: #fb8485;
$secondary-4: #f7c9d9;

// Gradient
$primary-gradient: linear-gradient(218.37deg, $primary-1 13%, $primary-2 86.5%);

// Shade
$white: #fffefa;
$black: #0a0800;
$grey: #282b34;

// Neutral
$neutral-50: #f3f3f2;
$neutral-100: #e7e6e4;
$neutral-200: #cfcdc9;
$neutral-300: #b6b4af;
$neutral-400: #9e9b94;
$neutral-900: #1b1a18;
