// Shadows:
$shadow-sm: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
$shadow-md: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);

// Border:
$rounded: 8px;

// Delay:
$delay-sm: 200ms;
$staggered: calc((var(--i) + 2) * 150ms);
$staggered-lg: calc((var(--i) + 2) * 250ms);

// Colors:

// Main
$primary-1: hsl(48, 100%, 55%);
$primary-2: hsl(42, 100%, 50%);
$primary-2-dark: hsl(42, 100%, 40%);
$secondary-1: hsl(196, 61%, 49%);
$secondary-2: hsl(175, 65%, 50%);
$secondary-3: hsl(359, 94%, 75%);
$secondary-4: hsl(339, 74%, 88%);

// Gradient
$primary-gradient: linear-gradient(218.37deg, $primary-1 13%, $primary-2 86.5%);

// Shade
$white: hsl(48, 100%, 99%);
$black: hsl(48, 100%, 2%);
$grey: hsl(225, 13%, 18%);

// Neutral
$neutral-50: hsl(60, 4%, 95%);
$neutral-100: hsl(40, 6%, 90%);
$neutral-200: hsl(40, 6%, 80%);
$neutral-300: hsl(43, 5%, 70%);
$neutral-400: hsl(42, 5%, 60%);
$neutral-900: hsl(40, 6%, 10%);
